.header-container{
    justify-content: space-between;
    background-color: #03051e;
}
.header-container div{
    margin: 5px;
}
.center-header{
    color: #fff;
    justify-content: space-around;
}
.search-icon{
    width: 3rem;
    height: 3rem;
    background-color: #f9f2f1;
    border-radius: 50%;
}
.search-icon:hover{
    cursor: pointer;
    opacity: 0.8;
    translate: 0.5 ease-in-out;
}
.image-logo{
    max-height: 3rem;
    max-width: 3rem;
    border-radius: 50%;
}
.icon-container{
    transform: scale(1.5);
}
.icon-container::before{
    content: "";
    
}