
  @media (min-width: 600px) {
    .header-searchbox {
      width: 300px;
    }
  
    .header-logo {
      display: block;
    }
  
    .header-typography {
      display: block; 
    }
  }
  
  @media (max-width: 600px) {
    .header-searchbox {
      width: 100%;
    }
  }
  