.left-container {
    margin: 16px;
    align-content: start;
    align-items: flex-start;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 16px;
  }
  
  .left-container .button {
    justify-content: flex-start;
    text-align: left;
    padding: 12px;
    margin-top: 16px;
  }
  
  .left-container .button:hover {
    background-color: #e3f2fd;
    border-radius: 4px;
  }
  
  .left-container .avatar {
    margin-right: 16px;
  }
  