.post-container {
  margin: 16px;
}

.post-content {
  display: flex;
  margin-bottom: 16px;
}

.post-content-left {
  flex: 1;
  max-width: 150px;
}

.book-image {
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.post-content-right {
  flex: 2;
  padding-left: 16px;
}

.book-link {
  color: inherit;
  text-decoration: none;
}

.book-title {
  margin: 0;
}

.status-select {
  margin: 8px 0;
}

.rating-section {
  display: flex;
  align-items: center;
}

.post-description {
  margin-top: 8px;
}

.post-actions {
  display: flex;
  align-items: center;
}

.comment-section {
  margin-top: 16px;
}

.comment-input-container {
  display: flex;
  align-items: center;
}

.comment-avatar {
  margin-right: 8px;
}

.comment-input {
  flex: 1;
}
