body {
  margin: 0;
  font-family: '"Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.title{
  color: #00635d;
  font-weight: bold!important;
  padding-top: 1!important;
}